
.pageLayout {
    display: flex;
    flex-direction: column;
  }
  
  .heroPage {
    margin-bottom: 6rem;
  }
  
  .slider {
    margin-bottom: 4rem;
  }
  
  .teamHeads {
    margin-bottom: 4rem;
  }
  